### Mastering Pyhton

##### https://www.w3resource.com/python-exercises/python_100_exercises_with_solutions.php

Exercise 4: <br>
Extract all odd numbers from a list of integers. <br>

In [1]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
[num for num in lst if num%2 != 0]

[1, 3, 5, 7, 9]

Exercise 6: <br>
Convert a list of integers to a list of booleans where all non-zero values become True. <br>

In [4]:
[num>0 for num in lst]

[True, True, True, True, True, True, True, True, True, True]

Exercise 8: <br>
Create a 3x3 list of lists with random values and normalize it. <br>

In [15]:
import random
import math

matrix = [[math.floor((random.random()*10)) for _ in range(3)] for _ in range(3)]
print(matrix)
avg = sum(sum(row) for row in matrix) / 9
std = (sum((num - avg) ** 2 for row in matrix for num in row) / 9)
normalized_matrix = [[round((num - avg)/std, 2) for num in row] for row in matrix]
normalized_matrix

[[9, 9, 0], [4, 4, 7], [4, 6, 8]]

[[0.43, 0.43, -0.73], [-0.21, -0.21, 0.17], [-0.21, 0.04, 0.3]]

Exercise 9: <br>
Calculate the sum of the diagonal elements of a 3x3 matrix (list of lists). <br>

In [23]:
matrix = [[9, 9, 0], [4, 4, 7], [4, 6, 8]]
sum_diagonal = sum(matrix[i][i] for i in range(3))
print(sum_diagonal)

21

Exercise 26: <br>
Create a 2D list with 1 on the border and 0 inside. <br>

In [30]:
matrix = [[1 if i==0 or i==4 or j==0 or j==4 else 0 for j in range(5)] for i in range(5)]

def print_matrix(mat):
    for row in mat:
        print(row)

print_matrix(matrix)

[1, 1, 1, 1, 1]
[1, 0, 0, 0, 1]
[1, 0, 0, 0, 1]
[1, 0, 0, 0, 1]
[1, 1, 1, 1, 1]