## Functional Programming Exercises

### Functions
##### https://www.w3resource.com/python-exercises/python-functions-exercises.php

<code>
1. Write a Python function that prints out the first n rows of Pascal's triangle.
Note : Pascal's triangle is an arithmetic and geometric figure first imagined by Blaise Pascal.
<code>

In [4]:
def print_pascals_triangle(num):
    if num<=0:
        print(f"Row num can not be zero")
        return
    triangle = []
    for i in range(num):
        row = [1]*(i+1)
        for j in range(1, i):
            row[j] = triangle[i-1][j-1] + triangle[i-1][j]
        triangle.append(row)
    for row in triangle:
        print(row)

In [5]:
print_pascals_triangle(5)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

### Lambda Functions
##### https://www.w3resource.com/python-exercises/lambda/index.php

<code>
1. Write a Python program to create a function that takes one argument, and that argument will be multiplied with an unknown given number.
Sample Output:
Double the number of 15 = 30
Triple the number of 15 = 45
Quadruple the number of 15 = 60
Quintuple the number 15 = 75
<code>

In [25]:
from random import randint

def mul_with_random_num(num):
    random_num = randint(1, 21)
    print(f"{random_num} times {num} = {num*random_num}")

# 2nd way
def mul_with_random_num2(num):
    return lambda x: x*num

result = mul_with_random_num2(2)

In [24]:
mul_with_random_num(15)

12 times 15 = 180

In [27]:
print(f"Double of 15 is {result(15)}")

Double of 15 is 30

<code>
2. Write a Python program to find a list with maximum and minimum length using lambda.
Original list:
[[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]
List with maximum length of lists:
(3, [13, 15, 17])
List with minimum length of lists:
(1, [0])
<code>

In [34]:
def max_len_list(lst):
    max_list = max(lst, key=lambda i: len(i))
    return (len(max_list), max_list)

def min_len_list(lst):
    min_list = min(lst, key=lambda i: len(i))
    return (len(min_list), min_list)

In [37]:
lst = [[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]

print(f"Max length element and its length is")
print(f"{max_len_list(lst)}")

print(f"Min length element and its length is")
print(f"{min_len_list(lst)}")

Max length element and its length is
(3, [13, 15, 17])
Min length element and its length is
(1, [0])

### Map Exercises
##### https://www.w3resource.com/python-exercises/map/index.php

1. Write a Python program to convert a given list of integers and a tuple of integers in a list of strings.

In [7]:
lst = [1, 2, 3, 4, 5, 6]
tup = (1.2, 3.4, 5.6)

print(list(map(lambda x: str(x), lst)))
print(tuple(map(lambda x: str(x), tup)))

print()
# instead do following
print(list(map(str, lst)))
print(tuple(map(str, tup)))

['1', '2', '3', '4', '5', '6']
('1.2', '3.4', '5.6')

['1', '2', '3', '4', '5', '6']
('1.2', '3.4', '5.6')

2. Python: Convert a given list of tuples to a list of strings using map function

In [18]:
lst_of_tuples = [('red', 'pink'), ('white', 'black'), ('orange', 'green')]

to_string = lambda tup: f"{tup[0]} {tup[1]}"

def convert_list_of_tuples_to_string(lst):
    # return list(map(to_string, lst))
    return list(map(" ".join, lst))

In [19]:
convert_list_of_tuples_to_string(lst_of_tuples)

['red pink', 'white black', 'orange green']

In [20]:
" ".join(('red', 'pink'))

'red pink'

3. Python: Convert a given list of strings into list of lists using map function

In [25]:
lst = ['Red', 'Green', 'Black', 'Orange']

def str_to_list(lst):
    return list(map(list, lst))

In [26]:
str_to_list(lst)

[['R', 'e', 'd'],
 ['G', 'r', 'e', 'e', 'n'],
 ['B', 'l', 'a', 'c', 'k'],
 ['O', 'r', 'a', 'n', 'g', 'e']]

### Itertools
##### https://www.w3resource.com/python-exercises/itertools/index.php

1. Write a Python program to count the frequency of the elements of a given unordered list.

In [34]:
from itertools import groupby

lst = [1, 2, 1, 6, 3, 9, 1, 10, 11, 10]
lst.sort()
grouped_list = groupby(lst,)
freq_dict = {key:len(list(group)) for key, group in grouped_list}
print(freq_dict)

{1: 3, 2: 1, 3: 1, 6: 1, 9: 1, 10: 2, 11: 1}

2. Write a Python program to extract a non-zero block from a given integer list.

In [46]:
lst = [3,4,6,2,0,0,0,0,0,0,6,7,6,9,10,0,0,0,0,0,7,4,4,0,0,0,0,0,0,5,3,2,9,7,1]

def extract_non_zeros(lst):
    return [list(x[1]) for x in groupby(lst, lambda x: x == 0) if not x[0]]

def extract_non_zeros_2(lst):
    return list(filter(lambda x: x!= 0, lst))

In [49]:
extract_non_zeros(lst)

[[3, 4, 6, 2], [6, 7, 6, 9, 10], [7, 4, 4], [5, 3, 2, 9, 7, 1]]

In [50]:
extract_non_zeros_2(lst)

[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1]

### Filter
##### https://www.w3resource.com/python-exercises/filter/index.php

1. Write a Python program that creates a list of tuples, each containing a city name and its population. Use the filter function to extract cities with a population greater than 2 million.

In [57]:
city_with_population = zip(["Surat", "Ahmedabad", "Vadodara", "Bhuj"], [ 2500123,1341234,3345134,145141])
list(filter(lambda x: x[1] > 2000000, city_with_population))

[('Surat', 2500123), ('Vadodara', 3345134)]

2. Write a Python program that implements a Python program that filters out dates (in the format "YYYY-MM-DD") that are in the future using the filter function.

In [76]:
from datetime import datetime

dates_list = ['2023-07-11', '2022-02-22', '2024-05-11', '2025-12-31', '2021-01-01']

def extract_future_dates_list(lst):
    dates = [datetime.strptime(date, "%Y-%m-%d") for date in lst]
    current_date = datetime.now()
    dates = (list(filter(lambda date: date > current_date, dates)))
    return list(map(lambda date: datetime.strftime(date, "%Y-%m-%d"), dates))

In [77]:
extract_future_dates_list(dates_list)

['2025-12-31']